---
import Section from "@/components/partials/Section.astro";
import { PROJECTS } from "@/constants/data";
---

<Section>
  <div class="p-2 flex flex-col gap-2">
    <!-- Header -->
    <div>
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight mt-1">
        {PROJECTS.title}
      </h3>
      <p class="leading-7 [&:not(:first-child)]:mt-6">
        {PROJECTS.shecan.about}
        <a
          href={PROJECTS.shecan.link}
          target="_blank"
          class="text-cyan-400 hover:underline"
        >
          Visit SCL
        </a>
      </p>
    </div>
    <!-- Body -->
    <div>
      <h4
        class="scroll-m-20 text-xl font-semibold tracking-tight mt-5 flex flex-row items-center gap-2.5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="1.5"
          >
            <path
              stroke-linejoin="round"
              d="M11 16.5s1.5.5 2.25 2.5c0 0 3.573-5.833 6.75-7"></path>
            <path d="M4 5h14M4 10h11M4 15h4"></path>
          </g>
        </svg>
        Prerequisites
      </h4>
      <ul class="mt-4 mb-3 ml-6 list-disc [&>li]:mt-2">
        {PROJECTS.shecan.prerequisites.map((item) => <li>{item}</li>)}
      </ul>
    </div>
    <hr />
    <div>
      <h4
        class="scroll-m-20 text-xl font-semibold tracking-tight mt-3 flex flex-row items-center gap-2.5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M6.517 17.113c.395.578 1.592 1.81 3.225 2.12M9.864 22C8.836 21.83 2 19.606 2 12.093C2 5.063 8.002 2 12 2c4 0 10 3.063 10 10.093c0 7.513-6.836 9.738-7.864 9.907c0 0-.21-3.417-.087-4.003c.122-.586-.294-1.528-.294-1.528c.971-.364 2.45-.884 2.945-2.282c.385-1.084.627-2.658-.45-4.138c0 0 .282-2.39-.25-2.484c-.533-.092-2.1.947-2.1.947c-.457-.13-1.476-.377-1.898-.333c-.423-.044-1.445.203-1.902.333c0 0-1.568-1.04-2.1-.947s-.25 2.484-.25 2.484c-1.077 1.48-.835 3.054-.45 4.138c.496 1.398 1.974 1.918 2.945 2.282c0 0-.416.942-.294 1.528S9.864 22 9.864 22"
          ></path>
        </svg>
        Contributing
      </h4>
      <p class="leading-7 [&:not(:first-child)]:mt-3">
        {PROJECTS.shecan.contributing}
      </p>
    </div>
  </div>
</Section>
